.bg-container {
    background-color: #0e2a43;
    animation: flickering-pattern 0.1s infinite;
    background-image: url('./assets/pattern.png');
    background-repeat: repeat;
    color:white;
    position:fixed;
    top:0px;
    left:0px;
    width:100vw;
    height:100vw;

    .bg-visual {
        width:inherit;
        height:inherit;
        background-size:cover;
        background-position:50% 50%;
        background-repeat:no-repeat;
        filter: blur(1px);
    }
    
}

