.preview {
  position: relative;
  z-index: 700;


  @media (--tablet) {
    //width: calc(50% - 2.5rem);
  }

  @media (--desktop) {
    width: 100%;
  }

  &-move { transition: all 550ms cb() }
  &-enter-active { transition: all 325ms cb(out) 175ms }
  &-appear-enter-active { transition: all 275ms cb(out) 200ms }

  &-leave-active {
    transition: all 225ms cb(in);
    position: absolute;
    z-index: -1;
  }

  &-enter,
  &-leave-to,
  &-appear-enter {
    opacity: 0;
    transform: translate3d(0, -2.5rem, 0);
  }

  &__figure {
    position: relative;
    background-color:rgb(20, 20, 20);
    transition: padding-top 275ms cb(out);
    border-right: 10px solid rgb(55, 208, 255);
    padding:0.2rem;

  }



  &__title {
    @extend %txt--preview;
    display: block;
    color: cc(txt, inv);
    background-color: cc(shadow, 0);
    transition: background-color 225ms cb();

    .preview__figure--mobile &,
    &:hover {
      background-color: cc(shadow, .65);
    }

    @media (--monitor) {
      padding-right: 1.5rem;
    }
  }

  &__meta {
    position: absolute;
    bottom: 100%;
    left: 0;
    padding: 0.5rem;
    font-size: .9rem;
    background-color:white;

    @media (--tablet) {
      white-space: nowrap;
    }
  }

  &__published::after {
    content: '';
  }

  &__author {
    @extend %ff--500;
    white-space: nowrap;
    font-size: 1rem;
  }
}
